.stat-container {
  text-align: center;
  padding: 8px;
}

.stat-label {
  color: var(--ion-color-medium);
  font-size: 14px;
  margin-bottom: 4px;
}

.stat-value {
  font-size: 20px;
  font-weight: bold;
  color: var(--ion-color-dark);
}

.stat-value.small {
  font-size: 14px;
}

#map {
  height: 50vh !important;
  width: 100% !important;
  z-index: 1;
  border-bottom: 1px solid var(--ion-color-light);
}
